@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.info {
    color: #FFFAF0
}

h2 {
    color: #FFFAF0
}

h3 {
    font-weight: bold;
    text-decoration: underline;
}

img {
    width: 250px;
    float: left;
    margin: 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a: hover {
    color: #0088A9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);

}

img.keala {
    width: 250px;
    border-radius: 50px;
    float: left;
    margin: 10px;
  }

  em.university {
    text-decoration: underline;
  }

  body {
    background-image: url(images/galaxy.jpeg);
   }

li.info {
    list-style-type: circle;
    list-style-position: outside;
    color: black;
   }

div {
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: lightblue;
    color: #000000;
  }

ul.b {
    list-style-type: square;
    color: #000000;
  }

  li {
    color: #000000;
  }